# Datatypes

# 1.Explain about Datatypes.
# - Datatypes are used to identify the types of Data.
# - Datatypes is generally divided into two types "Basic" and "Advanced" in other words "primitive" or "Non-primitive"
# - where as "Basic" and "Advanced" Datatypes are again divided into different types.
# - Basic Datatypes - Int, Float, Complex, Boolean
# - Advanced Datatypes - List, String, Arrany, Tupple, Dictionary, Set
# - Type( ) function is used to identify the type of funtion in a data.
# - print(type( ))

# 2.Explain about Integers with examples.
# - Int or Integer is a number, positive or negative, without decimals of unlimited length(Infinity).

In [1]:
# Example for Integer.
x = 2345
print(type(x))

<class 'int'>

In [3]:
y = 232131433431
print(type(x))

<class 'int'>

In [9]:
z = -21
print(type(z))

<class 'int'>

# 3.Explain about float with examples.
# - Float is a number with decimal points or decimal values.

In [7]:
# Example for float.
x = 3.1312312
print(type(x))

<class 'float'>

In [11]:
y = 123.13413431
print(type(y))

<class 'float'>

In [15]:
z = 123.312312
print(type(z))

<class 'float'>

# 4.Explain about complex with examples
# - Complex numbers are the combination of real number and imaginary number whereas in real number can contain a Int or Float and imaginary number is denoted by "j".

In [17]:
# Example for Complex.
a = 3+1j
print(type(a))

<class 'complex'>

In [19]:
b = 2.23+0j
print(type(b))

<class 'complex'>

In [23]:
c = 4+7j
print(type(c))

<class 'complex'>

# 5. Explain about Boolean with examples
# - Boolean is a data type which is represented as True or False depending on the value.
# - If a condition is satisfied then the value is true.
# - If a condition is not-satisfied then the value is false.

In [13]:
# Example for Boolean

bool(5)

True

In [17]:
bool(0) # "0" Doesn't hold any value in bool functions

False

In [19]:
bool(8.25)

True

In [23]:
bool(0.00)

False

In [25]:
bool(1+6j)

True

In [27]:
bool(0+0j)

False

In [29]:
# Example for boolean functions

print(6 > 0)

True

In [31]:
print(0 > 1)

False

In [35]:
print(4 == 2)  # "==" represents that the values are actually equal to.

False

# 6. Type Conversions
# - Type conversiion basically means converting one type of data into another type of data.
# - Int can be converted to float and vice versa but we can't convert complex into Int & Float but a Int & Float can be converted into complex.

In [19]:
#Examples for Type conversion.
#Int to Float

a = 123
print(a)
print(type(a))

b = float(a)
print(b)
print(type(b))

#example 2

x = 345
print(x)
print(type(x))

y = float(x)
print(y)
print(type(y))

123
<class 'int'>
123.0
<class 'float'>
345
<class 'int'>
345.0
<class 'float'>

In [39]:
#Float to Int

a = 3213.21
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

#Example 2

c = 12312.3121
print(c)
print(type(c))

d = int(c)
print(d)
print(type(d))

3213.21
<class 'float'>
3213
<class 'int'>
12312.3121
<class 'float'>
12312
<class 'int'>

In [55]:
#Int to complex

a = 12312
print(a)
print(type(a))

b = complex(a)
print(b)
print(type(b))

#example 2

c = 434343
print(c)
print(type(c))

d = complex(c)
print(d)
print(type(d))

12312
<class 'int'>
(12312+0j)
<class 'complex'>
434343
<class 'int'>
(434343+0j)
<class 'complex'>