1) Define Dictionary.
   Dictionary is data structure which allows you to store and retrieve data in a key-value pair format. It is mutable which means you can
   modify it. It is simply mapping of keys and values.

   They are represented using curly{} brackets which consist of key value pairs seperated by a colons( , )
   Syntax for Dictionary is: a = {key : value, key : value}
                            A pair of key and value is known as Item
   In dictionary there's no indexing and slicing of the elements.

2) Create examples for all types of dictionaries.
   Dictionary with key-valued pairs
   Dictionary with mixed data type

In [3]:
#EXamples:
#Empty Dictionary = { }
#Dictionary with key-value pairs:

student = {'name':'sami', 'age':28, 'location':'Hyderabad'}
print(student)

data = {'organisation':'Amazon', 'desig':'ATL', 'Domain':'Data Analyst', 'Package in cr':4}
print(data)

{'name': 'sami', 'age': 28, 'location': 'Hyderabad'}
{'organisation': 'Amazon', 'desig': 'ATL', 'Domain': 'Data Analyst', 'Package in cr': 4}

In [23]:
#Dictionary with mixed data type:

mixed_data = {
    'name':'sami',
    'age':28,
    'location':'Hyderabad',
    'grades':[85,22,62]
}
print(mixed_data)

{'name': 'sami', 'age': 28, 'location': 'Hyderabad', 'grades': [85, 22, 62]}

In [43]:
#Accessing values: You can access values in the dictionary using keys

print(student['name'])
print(student['age'])
print(data['Domain'])
print(mixed_data['name'])
print(mixed_data['grades'])

sami
28
Data Analyst
sami
[85, 22, 62]

In [57]:
#Modifying and adding values

student['name'] = 'Mohammed Sami'
print(student)
student['location'] = 'Hyd'
print(student)
data['desig'] = 'TL'
print(data)

#Adding a new value 

student['grades'] = [89,65,99]
print(student)
data['location'] = 'Hyderabad, TG'
print(data)

mixed_data['gender'] = 'Male'
print(mixed_data)

{'name': 'Mohammed Sami', 'age': 28, 'location': 'Hyd', 'grades': (89, 65, 99)}
{'name': 'Mohammed Sami', 'age': 28, 'location': 'Hyd', 'grades': (89, 65, 99)}
{'organisation': 'Amazon', 'desig': 'TL', 'Domain': 'Data Analyst', 'Package in cr': 4, 'location': 'Hyderabad, TG'}
{'name': 'Mohammed Sami', 'age': 28, 'location': 'Hyd', 'grades': [89, 65, 99]}
{'organisation': 'Amazon', 'desig': 'TL', 'Domain': 'Data Analyst', 'Package in cr': 4, 'location': 'Hyderabad, TG'}
{'name': 'sami', 'age': 28, 'location': 'Hyderabad', 'grades': [85, 22, 62], 'gender': 'Male'}

3) Apply methods:
   There are multiple methods in dictionary :
   get()
   keys()
   values()
   items()
   pop()
   pop item()
   update()

In [85]:
#Examples for each method
#get() = Returns the value for a specific key. If the value is present in a key it shows the output

g = student.get('grade','no grade')
print(student)
print(g)
l = student.get('location','no location')
print(l)
n = student.get('name', 'no name')
print(n)

gg = data.get('name', 'no name')
print(gg)
o = data.get('organisation', 'not working')
print(o)

m = mixed_data.get('grades', 'no grades')
print(m)

{'name': 'Mohammed Sami', 'age': 28, 'location': 'Hyd', 'grades': [89, 65, 99]}
no grade
Hyd
Mohammed Sami
no name
Amazon
[85, 22, 62]

In [91]:
#keys: Returns a view of all keys in a dictionary 

student_keys = student.keys()
print(student_keys)
stdkeys = data.keys()
print(stdkeys)
mkey = mixed_data.keys()
print(mkey)

dict_keys(['name', 'age', 'location', 'grades'])
dict_keys(['organisation', 'desig', 'Domain', 'Package in cr', 'location'])
dict_keys(['name', 'age', 'location', 'grades', 'gender'])

In [97]:
#values : returns a view of all the values in the dictionary 

student_values = student.values()
print(student_values)
data_values = data.values()
print(data_values)
mvalues = mixed_data.values()
print(mvalues)

dict_values(['Mohammed Sami', 28, 'Hyd', [89, 65, 99]])
dict_values(['Amazon', 'TL', 'Data Analyst', 4, 'Hyderabad, TG'])
dict_values(['sami', 28, 'Hyderabad', [85, 22, 62], 'Male'])

In [103]:
#Items: returns the view of all key-value pairs

stitems = student.items()
print(stitems)
data_item = data.items()
print(data_item)
m_item = mixed_data.items()
print(m_item)

dict_items([('name', 'Mohammed Sami'), ('age', 28), ('location', 'Hyd'), ('grades', [89, 65, 99])])
dict_items([('organisation', 'Amazon'), ('desig', 'TL'), ('Domain', 'Data Analyst'), ('Package in cr', 4), ('location', 'Hyderabad, TG')])
dict_items([('name', 'sami'), ('age', 28), ('location', 'Hyderabad'), ('grades', [85, 22, 62]), ('gender', 'Male')])

In [119]:
#pop: removes and returns the value for a specific key

print(student)

{'age': 28, 'location': 'Hyd'}

In [127]:

print(data)

{'organisation': 'Amazon', 'Domain': 'Data Analyst', 'Package in cr': 4, 'location': 'Hyderabad, TG'}

In [133]:
#pop item: removes and returns the last key-value pair

c = mixed_data.popitem()
print(c)
print(mixed_data)

('location', 'Hyderabad')
{'name': 'sami', 'age': 28}

In [ ]:
#update: Update the dictionary with elements from another dictionary