1) Define about list in theoretical way.
   List is a common data type. List is a collection of Elements, values and items.
   List is represented y [ ] and is separated by comma. List is mutable.
   Mutable means it can be modified, change and update.

   In list each element is ordered and each element in list is associated with a number which is called index.
   We have two types of index positive which ranges from 0 to infinity and it starts from left to right and negative index which ranges from
   -1 and so on which starts from right to left.
   List can store multiple data types
   Index can acces one element at a time

   Slicing of list: Slicing is used to access multiple elements in a single line of code.
   Syntax for slicing is [start_index : end_index]..... end index(n-1) # (n-1) is for end index because index starts from 0
   You can access multiple elements by using slicing method

   Example: Suppose you have 100 elements and you have to access first 50 then you can put up ending index which is [ :50 ]
   if you want the next 50 you can put up the starting index which is [ 51: ]

   List has two operations: Concatenation and repetition
   Concatenation add one or more things. It is similar to union which combines both or more list of items
   Repetition repeats the elements as much as you like

   You can also change the list of elements with the help of index and slicing

   List has multiple methods which we will be adding below later.

2) Create 10 examples storing different data types.

In [15]:
#Creating empty data list
emptylist = [ ]

#Creating list with elements

num = [1,2,3,4,5,6]
car = ["Mercedes", "BMW", "Volvo"]
fruits = ["Apple", "Banana", "Orange"]
num_int = [221,213,13214,1414]
num_float = [1.231, 312.321, 12.21]
mixed = [12, 2, "python", 1.2321, True]

print(type(mixed))
print(type(num_int))

<class 'list'>
<class 'list'>

3) Create a list with 15 elements and you need to access each and every element from list both positive and negative.

In [27]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

#accessing items based on index both positive and negative 

print(num[0])
print(num[1])
print(num[2])
print(num[3])
print(num[4])
print(num[5])
print(num[6])
print(num[7])
print(num[8])
print(num[9])
print(num[10])
print(num[11])
print(num[12])
print(num[13])
print(num[14])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [35]:
print(num[-1])
print(num[-2])
print(num[-3])
print(num[-4])
print(num[-5])
print(num[-6])
print(num[-7])
print(num[-8])
print(num[-9])
print(num[-10])
print(num[-11])
print(num[-12])
print(num[-13])
print(num[-14])
print(num[-15])

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

4) Slicing both positive and negative

In [45]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,3,14,15]

print(num[3 : 8])

[4, 5, 6, 7, 8]

In [47]:
print(num[2 : 12])

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [61]:
print (num [:6])

[1, 2, 3, 4, 5, 6]

In [63]:
print (num [2:])

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 3, 14, 15]

In [67]:
print (num[-8 : -2])

[8, 9, 10, 11, 12, 3]

In [69]:
print (num [-12 : -1])

[4, 5, 6, 7, 8, 9, 10, 11, 12, 3, 14]

In [73]:
print(num[ -5: ])

[11, 12, 3, 14, 15]

In [75]:
print(num[ :-12 ])

[1, 2, 3]

5) Concatenate any 5 list

In [77]:
a = [1,2,3]
b = [1.1, 2.2, 3.3]
c = a+b
print(c)

[1, 2, 3, 1.1, 2.2, 3.3]

In [85]:
cars = ["Mercedes", "BMW", "Volvo"]
c = a+b+cars
print(c)

[1, 2, 3, 1.1, 2.2, 3.3, 'Mercedes', 'BMW', 'Volvo']

In [89]:
course = ["java", "python", "c", "c++"]
year = [2001, 2002, 2003, 2004]
percent = [96.6, 72, 87.2, 56]
result = course+year+percent
print(result)

['java', 'python', 'c', 'c++', 2001, 2002, 2003, 2004, 96.6, 72, 87.2, 56]

In [95]:
a = [1,2,3]
b = a * 2
print(b)

[1, 2, 3, 1, 2, 3]

In [99]:
num = [123, 321, 345]
result = num * 3
print(result)

[123, 321, 345, 123, 321, 345, 123, 321, 345]

7) Modify 5 elements in a 15 elements by using index and slicing

In [117]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,3,14,15]
print(num)
num[0] = 0
print(num)
num[4] = 22
print(num)
num[1 : 4] = 22,33,44,55
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 3, 14, 15]
[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 3, 14, 15]
[0, 2, 3, 4, 22, 6, 7, 8, 9, 10, 11, 12, 3, 14, 15]
[0, 22, 33, 44, 55, 22, 6, 7, 8, 9, 10, 11, 12, 3, 14, 15]

In [125]:
fruits = ["apple", "mango", "banana"]
print(fruits)
fruits[1] = "strawberry"
print(fruits)
fruits[2] = "cherries"
print(fruits)
fruits[1:2] = "kiwi", "mango"
print(fruits)

['apple', 'mango', 'banana']
['apple', 'strawberry', 'banana']
['apple', 'strawberry', 'cherries']
['apple', 'kiwi', 'mango', 'cherries']

8) Try finding different methods with examples
    List methods: There are multiple types of List methods

In [135]:
#Append: Adds an elements to the end of the list
a = [1,2,3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [143]:
#Copy: Returns a copy of a list
a = [1,2,3]
a.copy()
print(a)

[1, 2, 3]

In [145]:
#Sort: Sort the list in ascending order 
a = [4,2,1,3]
a.sort()
print(a)

[1, 2, 3, 4]

In [147]:
#Reverse: Reverse the order of the elements in the list
a = [1,2,3]
a.reverse()
print(a)

[3, 2, 1]

In [149]:
#Remove: Removes of the first occurrence of a specific element 
a = [1,2,3,2,3,4,2,1]
a.remove(2)
print(a)

[1, 3, 2, 3, 4, 2, 1]

In [153]:
#pop: removes and returns the elements at a specific position( or the last element if no index is specified)
a = [1,2,3]
a.pop(1)
print(a)

[1, 3]

In [155]:
#insert: Inserts an element at a specific position 
a = [1,3,4]
a.insert(1, 2)
print(a)

[1, 2, 3, 4]

In [165]:
#index: Returns the index of first occurence of a specific element 
a = [1,2,3]
print(a.index(2))

1

In [175]:
#extend: Adds elements to the end of the current list
a = [1,2,3]
a.extend([4, 5])
print(a)

[1, 2, 3, 4, 5]

In [185]:
#count: counts the number of times a specific elements appears in a list
a = [1,2,3,2,4,2,5]
print(a.count(2))

3

In [191]:
#Clear: Clear all the elements from the list
a = [1,2,3,2]
a.clear()
print(a)

[]

In [199]:
#Max: It returns the largest value from the list
a = [1,2,3]
b = max(a)
print(b)

3

In [203]:
#Min: It returns the lowest value from the list
a = [1,2,3]
b = min(a)
print(b)

1

In [209]:
#len: It refers to the lenght of the elements in the list
a = [1,2,3]
b = len(a)
print('a length is',b)

a length is 3