1) What is Python and why is it popular?
   
Python is a high level programming language it was introduced by Guido van Rossum in 1991. It can work on different platforms. it is very easy to use compared to other programming languages and it is user friendly.

2) What is an IDE?
   
IDE is Integrated development environment. It basically helps programmer develops software code. IDE is basically a software applications.
some of the mostly used IDEs are pycharm, visual studio, visual code, spyder, Pydev.

3) Whare are the rules for naming variables in python?
   
- A variable must be Alphanumeric.
- A variable can't start with numeric digits.
- A variable can't have a keyword name.
- A variable can't start with a special character except underscore.
- It is a case-sensitive (NAME, Name & name are three different variables)

In [8]:
# 4) How do you assign multiple values to multiple variables in a single line?

a, b, c = 1, 2, 3
print(a)

1

In [10]:
print(b)

2

In [12]:
print(c)

3

5) Can you use python keywords as variable names? why or why not?
   
we can't use keywords as variable names because keywords defines the language's syntax. A user has to follow syntax and semantics rules of language.

6) Why are comments important in programming?
   
Comments are used for giving out brief description about the line of code or programme you're writing. This are the lines ignored by the interpreter during the execution of the programme. It helps to understand the code carefully. It can be written following '#'.

7) What are basic data types in python?
   
The basic datatypes in python are Int, Float, Complex, Boolean.

8) How do you convert a string to an integer in python?
   
In python strings can be converted using built-in functions like 'int()'.

In [1]:
a = '100'
print(type(a))

#converting the string into int

convert_int = int(a)
print(type(convert_int))

<class 'str'>
<class 'int'>

9) What is the difference between int and float?
   
Int is a number positive or negative without decimals of unlimited length whereas float is a number with decimal points or decimal values.

10) How do you check the data type of a variable?
    
In python we have a build-int function like 'type()' for identifying the datatype of a variable.
For example:

In [38]:
a = 112312
print(type(a))

<class 'int'>

11) How do you add an element to a list?
    
To add an element into a list we use append() method.

In [13]:
#Example for adding an element in list

num = [1,2,3,4,5]
num.append(6)
print(num)

#By using append you can only add one element to the end of the list

[1, 2, 3, 4, 5, 6]

In [15]:
# 12) How do you create a tuple with one element?

one_element = (4, )
print(type(one_element))

#If you don't add comma after the element it will be integer. So the rule of tuple is to add comma after every element

<class 'tuple'>

In [25]:
# 13) How do you access a value in dictionary using a key?

data = {'name':'mercedes','variant':'E220 CDI','model':'2020','Fuel':'Diesel'}
print(type(data))

print(data['name'])
print(data['model'])

#To access a value in dictionary you use variable name and key to get a value as output

<class 'dict'>
mercedes
2020

In [33]:
# 14) How do you access elements in a list?

cars = ["mercedes","supra","bmw","nissan patrol"]
print(type(cars))

#we can access elements in a list by index method
print(cars[1])
print(cars[-1])
print(cars[0: ])

<class 'list'>
supra
nissan patrol
['mercedes', 'supra', 'bmw', 'nissan patrol']

In [55]:
# 15) How do you access a character in a string?

bio = "my name is mohammed sami. I am from hyderabad. I am learning Data science"
print(type(bio))

#Accessing elements using index

print(bio[5])
print(bio[15])
print(bio[-10])
print(bio[10: ])
print(bio[ : -8])

<class 'str'>
m
m
t
 mohammed sami. I am from hyderabad. I am learning Data science
my name is mohammed sami. I am from hyderabad. I am learning Data

In [61]:
# 16) How do you format strings in python.
# we format strings in python by three ways: old fomratting method, format method, f-string method

#Old formatting method
name = "sami"
age = 28
formstring = "My name is %s. And i'm %d years old." % (name, age)
print(formstring)

#formatting method

name = "sami"
age = 28
str = "My name is {} and i am {} year old." .format (name, age)

#There shouldn't be any gap between curly brackets

print(str)

#f-string method
name = "sami"
age = 28
location = "hyderabad"

fstr = f" My name is {name} and i am {age} years old. I stay in {location}."
print(fstr)

My name is sami. And i'm 28 years old.
My name is sami and i am 28 year old.
 My name is sami and i am 28 years old. I stay in hyderabad.

17) What is a tuple and how it different from list?

Tuple is a data type which represents ordered elements. It is a immutable sequence of elements. It is similar to lists but
the key difference is that tuples cannot be modified once it's created.
They are represented using paranthesis() and are seperated by using comma.

In [67]:
# 18) How do you concanitate two tuples?
# Concatination basically means combining two tuples

a = (1,2,3)
b = (3,4,5)
c = a + b
print(c)

print(type(c))

(1, 2, 3, 3, 4, 5)
<class 'tuple'>

In [69]:
# 19) How do you access values in dictionary ?
# You can access values in dictionary using key

data = {'name':'mercedes','variant':'E220 CDI','model':'2020','Fuel':'Diesel'}
print(type(data))

print(data['name'])
print(data['model'])

<class 'dict'>
mercedes
2020

In [23]:
# 20) How do you add a key value pair to a dictionary?

#The syntax for adding a key value pair in dictionary is variable_name = {'key' : 'value, 'key' : 'value'}

#Example:

bike = {'Panigale V4 Standard' : 2772600, 'Panigale V4 S' : 3347600, 'Panigale V4 SP2' : 4236000}
print(bike)
print(type(bike))


# 21) How do you remove a key-value pair from a dictionary?
# There are two ways to remove a key-value pair from a dictionary pop & pop item.

#removing a key-value pair using pop

bike.pop("Panigale V4 Standard")
print(bike)

#removing a key-value pair using pop item

bike.popitem()
print(bike)

{'Panigale V4 Standard': 2772600, 'Panigale V4 S': 3347600, 'Panigale V4 SP2': 4236000}
<class 'dict'>
{'Panigale V4 S': 3347600, 'Panigale V4 SP2': 4236000}
{'Panigale V4 S': 3347600}

In [37]:
# 22) How do you add an element to a set?

aa = {1,2,3,4,5,6}
print(type(aa))

#adding an element using add() method
aa.add(7)
print(aa)
aa.add('python')
print(aa)

# 23) How do you remove an element from a set?
#removing an element using remove() method

aa.remove('python')
print(aa)
aa.remove(1)
print(aa)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 'python'}
{1, 2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6, 7}

24) What are the common set operations in python?

    Set in python has 4 in-built mathematical common operations: union, intersection, subtraction (or) difference, symmetric difference.

In [65]:
#examples for operation in sets
#Union method

ab = {1,2,3,4,5}
ac = {4,5,6,7,8}

#Union combines two sets removing removing duplicates
#there are two methods to apply union to a set

#perform using |
cc = ab | ac
print(cc)

#you can also perform using union() function

z = ab.union(ac)
print(z)

#intersection: it provides the common elements between the sets
#there are two methods to apply intersection to a set

#perform using &
cd = ab & ac
print(cd)

#perform using intersection()
y = ab.intersection(ac)
print(y)

#subtraction (or)  difference: The diff between two sets that elements present in one set that are not present in another set

#perform using ( - )
ce = ab - ac
print(ce)

#perform using difference()
print(ab.difference(ac))

#symmetric difference: returns the elements in either sets but not in both sets

#perform using ' ^ '
cf = ab ^ ac
print(cf)

#perform using symmetric_difference
print(ab.symmetric_difference(ac))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [83]:
# 25) Write a python program to find and index of an element in a tuple?

data = ("sami", "mercedes", 1, 2, 2.31, "true")
print(type(data))

#finding an index of an element 

print(data.index(2))
print(data.index("mercedes"))

<class 'tuple'>
3
1