1) Define sets
   Sets are a collection of unique elements. It is unordered and it is represented using curly {} brackets and the elements seperated by
   commas. It is mutable and i doesn't allow any duplicates. We have set methods like union, intersection, difference & more.
   Set only allows unique elements it doesn't allow duplicate items.

In [17]:
#Example

empty_set = set()
print(type(empty_set))

#creating a set with elements 

cars = {'mercedes', 'bmw', 'audi', 'porsche'}
print(type(cars))

#converting a list to set

num = [1,2,3,4,4,5,5]
print(type(num))

a = set(num)
print(type(a))

nums = set([432,423423.52,5,252,352])
print(type(nums))

<class 'set'>
<class 'set'>
<class 'list'>
<class 'set'>
<class 'set'>

2) Adding & updating sets in python
   Sets are mutable, however they are unordered indexing has no meaning
   we cannot access or change the elements of a set using indexing (or) slicing.

In [39]:
#adding items to a set in python

numbers = {1,2,3,4,4,5,6,7}
print(type(numbers))

#adding elements using add method

numbers.add(8)
print(numbers)
numbers.add('benz')
print(numbers)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 'benz'}

In [45]:
#updating items to a set in python
#Update method is used to update the set with items and other collection types(lists, tuples, sets etc)

cars = {'mercedes', 'Audi', 'BMW', 'maseratti'}
bikes = {'hayabusa', 'R1', 'Indiana'}
cars.update(bikes)
print(cars)

{'Audi', 'maseratti', 'hayabusa', 'Indiana', 'R1', 'BMW', 'mercedes'}

In [55]:
#removing an element from set
#we have two methods to remove a element from set. remove() and discard()

name = {'sami', 'sai', 'ganesh', 'robert', 'ali'}
print(name)

#removeing 'robert' from the set
name.discard('robert')
print(name)

#same goes with the 'remove' method

name.remove('ali')
print(name)

{'ali', 'ganesh', 'sami', 'sai', 'robert'}
{'ali', 'ganesh', 'sami', 'sai'}
{'ganesh', 'sami', 'sai'}

In [57]:
#again adding up the elements in a set

name.add('Johnson')
print(name)

{'ganesh', 'sami', 'Johnson', 'sai'}

3) Set operations
   Python set operations provide different built-in mathematical operations like unione, intersection, subtraction & symmetric difference

In [65]:
#Example for operations

#union: Union combines elements from two sets removing duplicates. 
#There are two methods to perform union one is using ( \ ) and other is using union()

a = {1,2,3,4,5}
b = {4,5,6,7,8}

#perform using ( \ )
c = a|b
print(c)

#perform using union()

d = a.union(b)
print(d)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [73]:
#set intersection: It provides the common elements between two sets
#There are two methods to perform intersection ' & '  and intersection()

#using ' & ' method
e = a & b
print(e)

#using intersection() method
f = a.intersection(b)
print(f)

{4, 5}
{4, 5}

In [81]:
#Difference

#The difference between two sets A&B includes elements of set A that are not present in set B. 
#returns elements that are in first set but not in second set

#perfom difference using ( - )
print(a - b)

#perform using difference()
print(a.difference(b))

#similarly with B - A

print(b - a)
print(b.difference(a))

{1, 2, 3}
{1, 2, 3}
{8, 6, 7}
{8, 6, 7}

In [85]:
#Set Symmetric difference:
#A & B includes all the elements of set A & B without the common elements. 
#Returns elements that are in either of the sets but not in both

#perform using ' ^ '
print(a ^ b)

#perform using symmetric_difference

print(a.symmetric_difference(b))

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}