1) Define Strings.
   Strings is the sequence of characters. It is an immutable data type, meaning once you create a string, you cannot change it.
   Strings are represented using single quotes( ' ) or double quotes ( " ) and triple quotes ( "' ). Tripe quotes are also represented as
   comments.

2) Create 10examples using single and double quotations.

In [1]:
#Examples
name = "My name is Mohammed Sami"
print(type(name))

<class 'str'>

In [3]:
location = ' I live in Hyderabad '
print(type(location))

<class 'str'>

In [9]:
name = "My name is Mohammed Sami"
age = ' I am 28 years old '
location = " I live in Hyderabad "
print(type(name))
print(type(age))
print(type(location))

<class 'str'>
<class 'str'>
<class 'str'>

In [17]:
a = ''' My name is Mohammed Sami
        I am 28 years old
        I live in Hyderabad and i am learning data science '''
print(type(a))

<class 'str'>

3) Create a string of 50 characters and access any 10 using index and also apply slicing.

In [53]:
#creating a 50 character string
name = "My name is Mohammed Sami. I am from Hyderabad and i am 28 years old. Currently im working and also learning Data Science for the better growth"
print(type(name))
print(name[5])
print(name[3])
print(name[ -2 ])
print(name[22])
print(name[ -12 ])

print(name[ :3 ])
print(name[1 : 3])
print(name[3 : 22])
print(name[-22 : -2])
print(name[1: ])
print(name[ : -2])

<class 'str'>
m
n
t
m
e
My
y
name is Mohammed Sa
 for the better grow
y name is Mohammed Sami. I am from Hyderabad and i am 28 years old. Currently im working and also learning Data Science for the better growth
My name is Mohammed Sami. I am from Hyderabad and i am 28 years old. Currently im working and also learning Data Science for the better grow

4) Apply Operation.
   There are two types of Python operations: i) Concatenation ii) Repetition
   i) Concatenation : Combining two or more strings
   ii) Repetition : Repeating a string multiple times. " /n" if you use this at the end of the string it creates next line.

In [13]:
#Concatenation
#Examples
a = "Hello"
b = "world"
c = a + b
print(c)

#As you see over here we didn't got a space between the character's. We got two ways to add up the space between them
a = "Hello"
b = " world"
c = a + b
print(c)

#We can add " " to add up space between two variables 

c = a + " " + b
print(c)

Helloworld
Hello world
Hello  world

In [47]:
#Repetition
#Examples

str = "Hello "
result = str * 3
print(result)

#Multiline string

str1 = '''I am Mohammed Sami
I am 28 years old
I am from Hyderabad'''
print(str1)

Hello Hello Hello
I am Mohammed Sami
I am 28 years old
I am from Hyderabad

In [53]:
#Indexing : Accessing individual characters in a string. Index is represented by [ ]
#Example

a = "Hello"
print(a[3])
print(a[4])
print(a[ -1 ])

l
o
o

6) Explain about string formats.
   We have three methods.
   i) old method (or) percerntage method(%)
   ii) Format method
   iii) F-string method

In [76]:
#Examples
#Old Format method

# ( %s ) is used for string and ( %d ) is used for integer.

name = "sami"
age = 28
formstring = "My name is %s. And i'm %d years old." % (name, age)
print(formstring)

My name is sami. And i'm 28 years old.

In [92]:
#Format method = Format method is an update of Old format method. In place of %s (or) %d we use curly brackets {} to represent a value.

name = "sami"
age = 28
str = "My name is {} and i am {} year old." .format (name, age)
#There shouldn't be any gap between curly brackets
print(str)

My name is sami and i am 28 year old.

In [102]:
# F-string method

name = "sami"
age = 28
location = "hyderabad"

fstr = f" My name is {name} and i am {age} years old. I stay in {location}."
print(fstr)

 My name is sami and i am 28 years old. I stay in hyderabad.

6) Apply methods:
   There are multiple methods is python strings
   len(): It counts the length of characters.
   lower() / upper(): Converts the uppercase (or) lowercase
   strips(): Removes leading(beginning) or trailing(ending) whitespaces
   replace(): replacing a substring with a substring
   split(): splits the string
   join(): joins the string

In [107]:
#Examples:

a = "sami"
print(len(a))

4

In [109]:
a = "sami"
print(a.upper())

SAMI

In [117]:
a = "SAMI"
print(a.lower())

sami

In [121]:
a = " sami "
print(a.strip())
print(a)

sami
 sami

In [123]:
a = "I am mohammed sami"
b = a.replace("mohammed sami", "sami")
print(b)

I am sami

In [125]:
a = "My name is mohammed sami"
b = a.split()
print(b)

['My', 'name', 'is', 'mohammed', 'sami']

In [143]:
a = "my", "name", "is", "sami"
b = ' '.join(a)
print(b)

my name is sami