1) Define Tuple.
   Tuple is a data type which represents ordered elements. It is a immuatable sequence of elements.
   It is similar to list but the key difference is tuples cannot be modified once they are created.
   Tuples are represented using paranthesis() and the elements are seperated using commas.
   Tuples are Immutable which means once a tuple is created it cannot be change or modify, add/remove elements.

In [21]:
#Examples for tuples

empty_tuple = ()

cars = ("mercedes", "BMW", "volvo")
print(type(cars))

name = ("sami", "sai", "ali")
print(name)
print(type(name))

#You can also create a mixed type of tuple including int,float,boolean

data = ("sami", 28, 92.7, "True")
print(type(data))

#Single-element tuple:

a = (42, )
print(type(a))

b = (32,)
print(type(b))

#If you don't add a comma after the elements it will be considered as integer. The rule of tuple is to put comma after the element

<class 'tuple'>
('sami', 'sai', 'ali')
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

2) Accessing Elements: Tuple support Indexing and Slicing.

In [31]:
#Accessing tuples using Indexing and Slicing

cars = ("Mercedes E-220", "BMW E30", "Nissan skyline GTR30", "Volvo S60, Mini cooper- Country man")
print(cars[2])
print(cars[-2])

print(cars[1: ])
print(cars[ :-2])

Nissan skyline GTR30
Nissan skyline GTR30
('BMW E30', 'Nissan skyline GTR30', 'Volvo S60, Mini cooper- Country man')
('Mercedes E-220', 'BMW E30')

3) Tuple operations: Concatenation and repetition
   Concatenation: Combining two tuples.
   Repetition: Repeating a tuple

In [41]:
#Examples for tuple operations:
#Concatenation

a = (1,2,3,4,5)
b = (10,9,8,7,6)
c = a+b
print(c)

bikes = ("Honda CBR-650", "Aprilla", "scrambller")
car_engines = ("V6", "V4", "Ferrari-v12", "V6 twin turbo")
print(bikes+car_engines)

#Repetition

d = a*20
print(d)

print(bikes * 2)

(1, 2, 3, 4, 5, 10, 9, 8, 7, 6)
('Honda CBR-650', 'Aprilla', 'scrambller', 'V6', 'V4', 'Ferrari-v12', 'V6 twin turbo')
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
('Honda CBR-650', 'Aprilla', 'scrambller', 'Honda CBR-650', 'Aprilla', 'scrambller')

4) Define methods in tuple.
   Tuples don't have lot of methods due to it's immutability.

In [3]:
#methods:

#count: It counts the value of individual number presents (or) returns the number of occurence of a specified value

num = (1,2,3,1,4,5,6,1,23,2,25)
a = num.count(2)
print(a)

b = num.count(1)
print(b)

2
3

In [9]:
#Index: It identifies the position of a particular value (or) returns the index of first occurence of a specified value

num = (1,2,3,1,4,5,6,1,23,2,25)
c = num.index(3)
print(c)

d = num.index(5)
print(d)

2
5