# 1.Explain about Variables.
# -> Variables are the containers which stores Values or Data.

In [1]:
# Example

name = "Sami"

print(name)

# Here "name" is a variable for value "Sami"

Sami

# 2. Rules of Variables.
# > Variables must be AlphaNumeric
# > Variables cannot start with a numeric digit.
# > Variables cannot have a name same as Variables.
# > Variables cannot start with special characters except underscore (_).
# > Variables are Casesensitive (Name, name, NAME all are three different variables).

# 3. Types of Variables.
# > Variables are again divided into two types: i) Single ii) Multi variables
# > Single Variable: x=11, y=22, z=33
# > Multi variables are again divided in two types: i) Multi to Multi ii) Multi to One (or) One to Multi
# > Multi to Multi: x,y,z = 11,22,33
# > Multi to One or One to Multi: x=y=z=11

In [ ]:
#Example for Different types of variables

# Single Variables
# 1.Example

In [48]:
x=11
print(x)

11

# 2.Example

In [57]:
y=22
print(y)

22

# 3.Example

In [55]:
z= 33
print(z)

33

# Multi to Multi variables
# 1.Example

In [4]:
x,y,z = 11,22,33
print(x)

11

In [6]:
print(y)

22

In [8]:
print(z)

33

In [10]:
print(x,y,z)

11 22 33

# 2. Example

In [36]:
name, age, location = "Sami", 10, "Hyderabad"
print(name)

Sami

In [38]:
print(age)

10

In [40]:
print(location)

Hyderabad

# 3. Example

In [65]:
a,b,c = 77,88,99
print(a)
print (b)
print(c)

77
88
99

# Multi to one or one to multi Variables
# 1.Example

In [14]:
x=y=z=99
print(x)

99

In [16]:
print(y)

99

In [18]:
print(z)

99

In [24]:
print(x,y,z)

99 99 99

# 2.Example

In [67]:
a=b=c=222
print(a)

222

In [69]:
print(b)
print(c)

222
222

In [71]:
print(a,b,c)

222 222 222